<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="icon" href="https://yakunin.design/assets/testLogo9.svg">
    <link rel="stylesheet" href="https://yakunin.design/assets/pageNotFound.css">
    <script src="js/main.js"></script>
</head>

<body>
    <div class="message">
        <a href="/">
            <img src="https://yakunin.design/assets/testLogo9.svg" alt="yakunin" class="logo logo">
        </a>
        <h3 class="title">404</h3>
        <p class="text">{{title}}</p>
    </div>
</body>

</html>